If:
  PathMatch: makeargs.c

CompileFlags:
  Add:
    - -DMAKEARGS_IMPLEMENTATION
    - -Wall
    - -Wextra
    - -pedantic
    - -Wshadow
    - -Wno-unused-function
    - -Wno-gnu-zero-variadic-macro-arguments
    - -std=c99
